<head>
  <link rel="stylesheet" th:href="@{/css/gameboy.css}">
</head>
  <div class="gameboy" id="GameBoy">
  
    <div class="screen-area">
      
      <div class="power">
        <div class="indicator">
          <div class="led"></div>
          <span class="arc" style="z-index:2"></span>
          <span class="arc" style="z-index:1"></span>
          <span class="arc" style="z-index:0"></span>
        </div>
        POWER
      </div>
      
      <canvas class="display6" id="mainCanvas"></canvas>
      
      <div class="label">
        <div class="title">GAME</div>
        <div class="subtitle">
          <span class="c">포</span><!--
       --><span class="o1">켓</span><!--
       --><span class="l">로</span><!--
       --><span class="o2">그</span><!--
       --><span class="r"></span>
        </div>
      </div>
      
    </div>
    
    <div class="nintendo">황띠</div>
    
    <div class="controls">
      <div class="dpad">
        <div class="up"><i class="fa fa-caret-up"></i></div>
        <div class="right"><i class="fa fa-caret-right"></i></div>
        <div class="down"><i class="fa fa-caret-down"></i></div>
        <div class="left"><i class="fa fa-caret-left"></i></div>
        <div class="middle"></div>
      </div>
      <div class="a-b">
        <div class="b">B</div>
        <div class="a">A</div>
      </div>
    </div>
    
    <div class="start-select">
      <div class="select">SELECT</div>
      <div class="start">START</div>
    </div>
    
    <div class="speaker">
      <div class="dot placeholder"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot placeholder"></div>
      
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
  
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
  
      <div class="dot placeholder"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot placeholder"></div>
    </div>
    
  </div>
  