<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>

<body>
  <div class="topm">
    <div class="topnav">
      <table>
        <a class="active" th:href="@{/index}">Home</a>
        <a th:href="@{/users/mypage}">Mypage</a>
        <a href="https://cheongwon.go.kr/portal" class="contact-link">Contact</a>

        <div class="topnav-right">
          <a th:href="@{/login}" th:if="${session.user_info == null}">Login</a>
          <a th:href="@{/logout}" th:if="${session.user_info != null}">Logout</a>
        </div>
        <div id="indicator"></div>
      </table>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/relogin.js"></script>
</body>

</html>
