<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>홈페이지</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>

<body>
  <div id="wrap">
    <header id="header">

      <div id="headerIn">
        <h1 class="logo"><a href="#"><img src="img/logo.jpg" alt="홈페이지"></a></h1>
    </header>

    <nav id="lnb">
      <ul class="menu">
        <li><a href="#">마이페이지</a></li>
        <li><a href="#">게임</a></li>
        <li><a href="#">랭킹</a></li>
        <li><a href="#">고객지원</a></li>
      </ul>
    </nav>


    <div class="form-group">
      <label for="usr">ID:</label>
      <input type="text" class="form-control" id="usr">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
      <button type="button">Login</button>
      <button type="button">회원가입</button>
    </div>
    </div>

</body>

</html>