<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임 시작</title>
</head>

<body>

    <div class="game-container">
        <p class="player-count">참가 인원을 선택하세요.</p>
        <input type='button' onclick='count("plus")' value='+' />
        <input type='button' onclick='count("minus")' value='-' />
        <div id='result'>0</div>
        <button class="btn" onclick="startGame()">게임 시작</button>

    </div>
    <script src="/src/main/resources/static/js/people.js"></script>
</body>

</html>